3. CREATING LIST AND TUPLE

LIST

In [15]:
#List is a data structure in python that can collect more than 1 data like an array. Every value in the list is called an element.

buah = ["jeruk", "apel", "mangga"]
laci = ["buku", 21, False, 30.13]

#Note : In list we use "[]"

TUPLE

In [16]:
t = (1234, 4321, "Hi World")
s = 1234, 4321, "Hi World"

#Note : In tuple we may use bracket like this "()" or not at all

In [17]:
# Slicing Tuple
bank_number = (43560, "Johnson Keeve" , "www.mybank.id")

print(bank_number[1:2])

('Johnson Keeve',)

In [18]:
#Both in List or Tuple, the element will starts at 0, 1, 2, and so on.
#And if we print it. For example [1:5], python will print 2nd element until 5 element.

In [19]:
#Tuple Nested

tuple1 = "I", "am", "so", "curious"
tuple2 = "with", "you"
tuple3 = (tuple1, tuple2) #<-nested tuple

tuple3

(('I', 'am', 'so', 'curious'), ('with', 'you'))

4. SUBSET, CALCULATE, SLICING. DICING LIST

In [22]:
#Index Positive
#From previous explanation, the element starts at 0, 1, 2, and so on.

color = ["red", "orange", "yellow", "green", "blue", "pink", "purple"]
color[0]

'red'

In [23]:
color[1]

'orange'

In [24]:
color[4]

'blue'

In [25]:
color[6]

'purple'

In [26]:
#Index Negative

# In negative index, the sequence starts from back to front. the element starts from -1, -2, and so on
color = ["red", "orange", "yellow", "green", "blue", "pink", "purple"]
color[-1]

'purple'

In [27]:
color[-4]

'green'

In [28]:
color[-6]

'orange'

In [29]:
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]

In [31]:
#how to take the subset from nums list
#we will use slicing

some_nums = nums[2:6]
some_nums

[30, 40, 50, 60]

In [33]:
#If we want to take N first element

nums[:5]

[10, 20, 30, 40, 50]

In [34]:
# If we want to take N last element

nums[-3:]

[70, 80, 90]

In [35]:
#We can also take the subset with either positive or negative index
nums[2:-2]

[30, 40, 50, 60, 70]

In [39]:
nums[-3:8]

[70, 80]

In [40]:
nums[-5:-1]

[50, 60, 70, 80]

In [41]:
#Note : when we subset, we should start from small to big number, and list will always be sorted from small to big element.

In [42]:
#If we want to take all elements except N last elements
nums[:-3]

[10, 20, 30, 40, 50, 60]

In [43]:
#If we want to take every N-th element, we use "step"

nums[::2]

[10, 30, 50, 70, 90]

In [44]:
nums[1::2]

[20, 40, 60, 80]

In [45]:
nums[1:-3:2]

[20, 40, 60]

In [46]:
#If we want our new list are sorted from big to small element, we should use "step" and "start" from small to the big element

nums[-2::-1]

[80, 70, 60, 50, 40, 30, 20, 10]

In [47]:
nums[-2:1:-1]

[80, 70, 60, 50, 40, 30]

5. MANIPULATE LISTS

In [48]:
#Defining a List

z = [3,4,7,2]

In [49]:
#Update the item at index 1 with "mango"

z[1]="mango"
print(z)

[3, 'mango', 7, 2]

In [55]:
#Defining a list

y = [1, 3, 3, 5, 7, 3, 3, 4]

In [56]:
#We want to know what the index value is

print(y.index(1))

0

In [53]:
print(y.index(3))

#We know there are 4 value of 3, then the output is what the first index value of 3 is

1

In [54]:
print(y.index(7))

4

In [57]:
#Count Method -> Count the number of times a value occurs in the list

random_list = [3, 2, 5, 2, 7, 4, 1]
random_list.count (2)

2

In [58]:
print(random_list.count (3))

1

In [61]:
#Sorting

z = [5, 7, 2, 6, 4]
z.sort()
print(z)

[2, 4, 5, 6, 7]

In [62]:
#Sort from high to low number
z.sort(reverse = True)
print(z)

[7, 6, 5, 4, 2]

In [63]:
#Pop Method -> remove the index

print(z.pop(2)) #-> it will shows what is the index of 2
print(z) #-> the output after we remove the index

5
[7, 6, 4, 2]

In [64]:
#Append Method -> adds an element to the end of the list

z = [2, 5, 1, 6]
z.append(7)
print(z)

[2, 5, 1, 6, 7]

In [66]:
#Insert Method -> inserts an item before the index we provide

z = [2, 5, 1, 6]
z.insert(2, [8,5])
print(z)

[2, 5, [8, 5], 1, 6]

6. REPLACE LIST ELEMENTS

In [67]:
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]
nums[:4]=[1, 2, 3, 4]

nums

[1, 2, 3, 4, 50, 60, 70, 80, 90]

In [68]:
#Replace and change size of the list
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]
nums[:4]=[1, 2, 3, 4, 5, 6, 7]

nums

[1, 2, 3, 4, 5, 6, 7, 50, 60, 70, 80, 90]

In [69]:
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]
nums[:4]=[1, 2]

nums

[1, 2, 50, 60, 70, 80, 90]

In [76]:
#Replace every Nth element

nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]
nums[::3] = [1, 2, 3]

nums

[1, 20, 30, 2, 50, 60, 3, 80, 90]

In [78]:
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]
nums[::-3] = [1, 2, 3]

nums

[10, 20, 3, 40, 50, 2, 70, 80, 1]

In [82]:
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]
nums[1:4:2] = [1, 2]

nums

[10, 1, 30, 2, 50, 60, 70, 80, 90]

7. EXTEND AND DELETE

In [86]:
#Delete List

picnic_box = ["bread", "butter", "strawberry jam"]
del picnic_box [2]
print(picnic_box)

['bread', 'butter']

In [87]:
del picnic_box [1]
print(picnic_box)

['bread']

In [89]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
del numbers[2:5]
numbers

[1, 2, 6, 7, 8, 9]

In [90]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
del numbers[::3]
numbers

[2, 3, 5, 6, 8, 9]

In [94]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
del numbers[2:5:3]
numbers

#start deleting from 3 (index 1) and will also delete every 3th element after 3 until 4 (index 5)

[1, 2, 4, 5, 6, 7, 8, 9]

In [95]:
#Extend Method -> The method extends list by  appending items

z = [2, 5, 7]
z.extend([11, 17])
print(z)

[2, 5, 7, 11, 17]

In [96]:
#This method also can be accomplished by

print([3,5]+[6,8])

[3, 5, 6, 8]