<a href="https://colab.research.google.com/github/kresensiakatrin/new-beginning-with-python/blob/main/Data_Mining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TUGAS 1 Data Mining**

**Data: ASHARE - Great Energy Predictor III**

**KELOMPOK G**
Anggota:
1. Adib Hanafi (1806186976)
2. Annisa Yuni Safira (1806193571)
3. Gabriela Patricia Winny Gracia (1806193590)
4. Kresensia Katrin Rianty (1806193376)
5. Muhammad Yunus (1806232130)
6. Natasha Latifatu Soliha (1806193395)
7. Rosalinda (1806193514)
8. Siti Maulida Suroyya (1806147621)

Tugas 1 ini bertujuan untuk melakukan Exploratory Data Analysis (EDA). EDA yang dilakukan dalam tugas ini meliputi data preprocessing, penghitungan nilai statistik dasar, dan juga visualisasi data.

In [ ]:
#import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
#Mengambil data melalui Google Drive
#Data dapat diakses melalui link https://bit.ly/DataASHRAE , lalu buat shortcut ke My Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Data Gedung
df_gedung = pd.read_csv('/content/drive/MyDrive/Data Mining/building_metadata.csv', error_bad_lines=False, low_memory = False)
df_gedung

      site_id  building_id  ... year_built  floor_count
0           0            0  ...     2008.0          NaN
1           0            1  ...     2004.0          NaN
2           0            2  ...     1991.0          NaN
3           0            3  ...     2002.0          NaN
4           0            4  ...     1975.0          NaN
...       ...          ...  ...        ...          ...
1444       15         1444  ...     1914.0          NaN
1445       15         1445  ...        NaN          NaN
1446       15         1446  ...     1997.0          NaN
1447       15         1447  ...     2001.0          NaN
1448       15         1448  ...     2001.0          NaN

[1449 rows x 6 columns]

In [ ]:
#Data Cuaca
df_cuaca = pd.read_csv('/content/drive/MyDrive/Data Mining/weather_train.csv')
df_cuaca

        site_id            timestamp  ...  wind_direction  wind_speed
0             0  2016-01-01 00:00:00  ...             0.0         0.0
1             0  2016-01-01 01:00:00  ...            70.0         1.5
2             0  2016-01-01 02:00:00  ...             0.0         0.0
3             0  2016-01-01 03:00:00  ...             0.0         0.0
4             0  2016-01-01 04:00:00  ...           250.0         2.6
...         ...                  ...  ...             ...         ...
139768       15  2016-12-31 19:00:00  ...           180.0         5.7
139769       15  2016-12-31 20:00:00  ...           180.0         7.7
139770       15  2016-12-31 21:00:00  ...           180.0         5.1
139771       15  2016-12-31 22:00:00  ...           170.0         4.6
139772       15  2016-12-31 23:00:00  ...           180.0         8.8

[139773 rows x 9 columns]

In [ ]:
#Data Energi Gedung
df_en = pd.read_csv('/content/drive/MyDrive/Data Mining/train.csv', error_bad_lines=False, low_memory = False)
df_en

          building_id  meter            timestamp  meter_reading
0                   0      0  2016-01-01 00:00:00          0.000
1                   1      0  2016-01-01 00:00:00          0.000
2                   2      0  2016-01-01 00:00:00          0.000
3                   3      0  2016-01-01 00:00:00          0.000
4                   4      0  2016-01-01 00:00:00          0.000
...               ...    ...                  ...            ...
20216095         1444      0  2016-12-31 23:00:00          8.750
20216096         1445      0  2016-12-31 23:00:00          4.825
20216097         1446      0  2016-12-31 23:00:00          0.000
20216098         1447      0  2016-12-31 23:00:00        159.575
20216099         1448      0  2016-12-31 23:00:00          2.850

[20216100 rows x 4 columns]

In [ ]:
#import library tambahan
import warnings; warnings.simplefilter('ignore')
import pandas as pd, matplotlib.pyplot as plt, seaborn as sns, numpy as np
import datetime
import calendar
import matplotlib.cm as cm
import calendar, folium
from folium.plugins import HeatMap
from collections import Counter
from statsmodels.graphics.mosaicplot import mosaic
plt.style.use('bmh'); sns.set()

**Joining Dataset**

In [ ]:
df_en_gedung = pd.merge(df_en, df_gedung, how='left', left_on=['building_id'], right_on=['building_id'])

In [ ]:
df_en_gedung.tail()

          building_id  meter  ... year_built  floor_count
20216095         1444      0  ...     1914.0          NaN
20216096         1445      0  ...        NaN          NaN
20216097         1446      0  ...     1997.0          NaN
20216098         1447      0  ...     2001.0          NaN
20216099         1448      0  ...     2001.0          NaN

[5 rows x 9 columns]

In [ ]:
df = pd.merge(df_en_gedung, df_cuaca, how='left', left_on=['site_id', 'timestamp'], right_on=['site_id', 'timestamp'])

**Screening Data**

In [ ]:
df.tail()

In [ ]:
#cek tipe data setiap variabel
df.dtypes

In [ ]:
#transpose data
df.head(10).transpose()

**Data Preporcessing**

In [ ]:
#memecah variabel timestamp
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['hour'] = np.uint8(df['timestamp'].dt.hour)
df['day'] = df['timestamp'].dt.weekday
df['month'] = np.uint8(df['timestamp'].dt.month)

In [ ]:
df.info()

In [ ]:
#mengoreksi tipe data
df['building_id'] = df['building_id'].astype('category')
df['meter'] = df['meter'].astype('category')
df['site_id'] = df['site_id'].astype('category')
df['primary_use'] = df['primary_use'].astype('category')
df['year_built'] = df['year_built'].astype('category')
df['hour'] = df['hour'].astype('category')
df['day'] = df['day'].astype('category')
df['month'] = df['month'].astype('category')

In [ ]:
#membuat kategori untuk variabel day
day_ = {0:"Senin", 1:"Selasa", 2:"Rabu", 3:"Kamis", 4:"Jumat", 5:"Sabtu", 6:"Minggu"}
df['day'] = [day_[i] for i in df['day']]

In [ ]:
#membuat kategori untuk variabel meter
meter_ = {0:"electricity", 1:"chilledwater", 2:"steam", 3:"hotwater"}
df['meter'] = [meter_[i] for i in df['meter']]

In [ ]:
df.dtypes

In [ ]:
#statistik deskriptif setiap variabel numerik
df.describe()

**MISSING VALUE**

In [ ]:
#Memeriksa Missing Value
df.isnull().sum()

In [ ]:
#persentase missing values
for i in df:
    print(i,': ',round(df[i].isnull().sum()/len(df)*100,2), '%')

In [ ]:
#Drop kolom year_built, floor_count, dan cloud coverage, dikarenakan persentase missing values mendekati atau bahkan melampaui 50% dari data
df = df.drop(['year_built', 'floor_count', 'cloud_coverage'], axis=1)

In [ ]:
#cek distribusi variabel 'percip_depth_1_hr'
print(df['precip_depth_1_hr'].describe())
df['precip_depth_1_hr'].hist()

Dari histogram terlihat bahwa seluruh nilai dari variabel 'percip_Depth_1_hr' terletak di interval [0,50).

In [ ]:
#cek distribusi variabel 'sea_level_pressure'
print(df['sea_level_pressure'].describe())
df['sea_level_pressure'].hist()

Dari histogram terlihat bahwa nilai-nilai dari variabel 'sea_level_pressure' cenderung skewed ke kiri. Maka dari itu akan dilakukan imputasi median untuk missing values dari variabel ini.

In [ ]:
#cek distribusi variabel 'air_temperature'
print(df['air_temperature'].describe())
df['air_temperature'].hist()

Dari histogram terlihat bahwa nilai-nilai dari variabel 'air_temperature' cenderung skewed ke kanan. Maka dari itu akan dilakukan imputasi median untuk missing values dari variabel ini.

In [ ]:
#cek distribusi variabel 'dew_temperature'
print(df['dew_temperature'].describe())
df['dew_temperature'].hist()

Dari histogram terlihat bahwa nilai-nilai dari variabel 'dew_temperature' cenderung skewed ke kanan. Maka dari itu akan dilakukan imputasi median untuk missing values dari variabel ini.

In [ ]:
#cek distribusi variabel 'wind_speed'
print(df['wind_speed'].describe())
df['wind_speed'].hist()

Dari histogram terlihat bahwa nilai-nilai dari variabel 'wind_speed' cenderung skewed ke kiri. Maka dari itu akan dilakukan imputasi median untuk missing values dari variabel ini.

In [ ]:
#cek distribusi variabel 'wind_direction'
print(df['wind_direction'].describe())
df['wind_direction'].hist()

Dari histogram terlihat bahwa nilai-nilai dari variabel 'wind_direction' tidak mengikuti distribusi normal. Maka dari itu akan dilakukan imputasi median untuk missing values dari variabel ini.

In [ ]:
#Mengganti missing value dengan Median (imputasi median)
df_impute_median = df.loc[:, ['precip_depth_1_hr','air_temperature', 'dew_temperature', 'wind_speed', 'sea_level_pressure','wind_direction']]
for i in df_impute_median.columns:
  df[i].fillna(df[i].median(), inplace=True)

In [ ]:
#cek kembali jumlah missing values
df.isnull().sum()

**Checking Outliers**

In [ ]:
df.info()

In [ ]:
#Memeriksa persentase outlier di setiap variabel
for i in df[['meter_reading', 'square_feet', 'air_temperature', 'dew_temperature', 'precip_depth_1_hr', 'sea_level_pressure', 'wind_direction', 'wind_speed']]:  
    Q1  = df[i].quantile(0.25)
    Q3  = df[i].quantile(0.75)
    IQR = Q3-Q1

    Lower_Bound = Q1-(1.5*IQR)
    Upper_Bound = Q3+(1.5*IQR)

    print('Kolom',i,'Memiliki Outliers sebesar:',round(len(df[(df[i]>Upper_Bound)|(df[i]<Lower_Bound)])/len(df)*100,2),'%')
print('\n')

Karena variabel 'meter_reading' memiliki persentase outlier paling besar (12.24%), maka akan dibandingkan rata-rata dari outlier dengan rata-rata dari seluruh nilai variabel 'meter_reading'.

In [ ]:
for i in ['meter_reading']:  
    Q1  = df[i].quantile(0.25)
    Q3  = df[i].quantile(0.75)
    IQR = Q3-Q1

    Lower_Bound = Q1-(1.5*IQR)
    Upper_Bound = Q3+(1.5*IQR)

print('Kolom',i,'Memiliki Outliers sebesar:',len(df[(df[i]>Upper_Bound)|(df[i]<Lower_Bound)])/len(df)*100,'%')
Outliers_meter_reading = df[(df[i]>Upper_Bound)|(df[i]<Lower_Bound)]
print(Outliers_meter_reading['meter_reading'].mean())
print(df['meter_reading'].mean())

Dari hasil perbandingan diperoleh bahwa rata-rata outlier pada variabel 'meter_reading' jauh lebih tinggi dibandingkan rata-rata dari seluruh nilai variabel 'meter_reading'.

In [ ]:
#Selanjutnya akan dilihat komponen variabel-variabel yang terlihat terdapat outlier
#seperti variabel:square_feet & meter_reading
df.loc[df['site_id']==8].sort_values(by=['square_feet'],ascending=False).head(5)

In [ ]:
df.loc[df['site_id']==13].sort_values(by=['meter_reading'],ascending=False).head(5)

**Visualisasi untuk mengecek outlier**

In [ ]:
#visualisasi variabel 'site_id' dengan variabel 'meter_reading' menggunakan boxplot
p = sns.boxplot(x='site_id', y='meter_reading', data=df)

**Interpretasi:** Pada site_id 13 jumlah penggunaan energi (variabel meter_reading) cenderung lebih besar dibandingkan site_id lainnya. 

Sehingga ada indikasi bahwa site_id tersebut merupakah daerah yang didominasi oleh gedung industri yang rata - rata menggunakan energi lebih banyak dari yang lain.

In [ ]:
#visualisasi variabel 'site_id' dengan variabel 'air_temperature' menggunakan boxplot
sns.boxplot(x='site_id', y='air_temperature', data=df)

**Interpretasi:** 

Daerah 0, 2, 8, & 9 memiliki rata-rata suhu cenderung lebih tinggi dibandingkan dengan daerah-daerah lainnya, dan suhu tertinggi tercatat di daerah 2.

Oleh karena itu, ada indikasi bahwa 4 daerah tersebut merupakan daerah berada di iklim tropis / gurun.

In [ ]:
#visualisasi variabel 'site_id' dengan variabel 'square_feet' menggunakan boxplot
p = sns.boxplot(x='site_id', y='square_feet', data=df)

**Interpretasi**: 

Rata-rata square_feet tertinggi terdapat pada site_id 7. Dari boxplot di atas, ada indikasi harga tanah site_id 7 cenderung lebih murah dibandingkan dengan site id lainnya karena ada kemungkinan bahwa lokasi tersebut jauh dari pusat kota.

In [ ]:
p = sns.boxplot(x='site_id', y='wind_speed', data=df)

**Interpretasi**:


Dari BoxPlot di atas, terlihat site_id 12 memiliki nilai wind_speed yang cenderung lebih tinggi dari yang lain.

Sehingga bisa menjadi pertimbangan bagi perusahaan ASHRAE untuk membangun Pusat Pembangkit Listrik Tenaga Angin pada site_id ini.

In [ ]:
#visualisasi variabel 'site_id' dengan variabel 'air_temperature' menggunakan boxplot
sns.boxplot(x='site_id', y='sea_level_pressure', data=df)

In [ ]:
p = sns.boxplot(x='site_id', y='dew_temperature', data=df)

**Interpretasi**:

In [ ]:
p = sns.boxplot(x='site_id', y='wind_direction', data=df)

**Interpretasi**:

Dari output boxplot di atas, seluruh site_id memilki nilai wind_direction yang cenderung sama. Sehingga tidak terlihat adanya karakteristik khusus / berbeda pada setiap site_id nya.

In [ ]:
p = sns.boxplot(x='site_id', y='precip_depth_1_hr', data=df)

**Interpretasi**:

**EXPLORATORY DATA ANALYSIS**

In [ ]:
df.columns

In [ ]:
df.info()

**VISUALISASI DATA**

**Visualisasi 1 : Jumlah Gedung Berdasarkan Primary_Use**

In [ ]:
p = sns.countplot(y='primary_use', data=df)

**Interpretasi :**

Dari visualisasi di atas, ada indikasi bahwa mayoritas gedung digunakan sebagai tempat pusat Pendidikan (Education). Lalu diikuti oleh gedung Kantor (Office) dan gedung Entertainment / Public Assembly.

In [ ]:
grouped_primary_use = df.groupby('primary_use')[['meter_reading']].median().sort_values('meter_reading', ascending=False)

In [ ]:
grouped_primary_use

** Interpretasi : **

Dari tabel di atas, ada indikasi bahwa Gedung "Services" dan "Healthcare" termasuk gedung yang menggunakan banyak energi. Namun jika dihubungkan dengan visualisasi sebelumnya, banyaknya kedua jenis gedung ini relatif sedikit dibandingkan dengan yang lain.

Sehingga bisa menjadi perhatian lebih untuk pihak terkait bahwa daerah - daerah yang memiliki kedua jenis gedung tersebut tetap perlu menyediakan stok energi yang relatif banyak.

In [ ]:
grouped_p_sf = df.groupby('primary_use')[['square_feet']].median().sort_values('square_feet', ascending=False)

In [ ]:
grouped_p_sf

In [ ]:
p = sns.countplot(y='site_id', data=df)

In [ ]:
grouped_site_id = df.groupby('site_id')[['square_feet']].median().sort_values('square_feet', ascending=False)

In [ ]:
grouped_site_id

In [ ]:
grouped_site_id_meter_reading = df.groupby('site_id')[['meter_reading']].median().sort_values('meter_reading', ascending=False)

In [ ]:
grouped_site_id_meter_reading

In [ ]:
grouped_by_day_mr = df.groupby('day')[['meter_reading']].median().sort_values('meter_reading', ascending=False)
grouped_by_month_mr = df.groupby('month')[['meter_reading']].median().sort_values('meter_reading', ascending=False)

In [ ]:
print(grouped_by_day_mr)
print(grouped_by_month_mr)

In [ ]:
plt.figure(figsize=(8,6)) 
p = sns.countplot(x="meter", data=df)

In [ ]:
df.columns

In [ ]:
df = df.set_index('timestamp')

In [ ]:
aa = df['air_temperature']

In [ ]:
suhu_udara = aa.resample('D').sum()
print('air_temperature')
print(suhu_udara.head(), '\n')


plotsize = (13, 5)

suhu_udara.plot(figsize=plotsize, title='Air Temperature')

**Interpretasi:** suhu udara cenderung lebih tinggi di sekitar bulan Juni sampai dengan September, dan menunjukkan tren menurun sejak akhir September hingga pertengahan Desember.

In [ ]:
bb = df['meter_reading']

In [ ]:
#grafik time series penggunaan energi
meter_read = bb.resample('D').sum()
print('meter_reading')
print(meter_read.head(), '\n')


plotsize = (13, 5)

meter_read.plot(figsize=plotsize, title='Meter Reading', color='orange')

**Interpretasi:** Terdapat penggunaan energi yang cenderung lebih tinggi secara signifikan pada bulan Maret hingga pertengahan Juni. Selain itu pada pertengahan bulan November terdapat penggunaan energi yang relatif besar dibanding tanggal-tanggal sebelum dan sesudah kejadian tersebut. Hal ini mungkin mengindikasikan adanya sebuah event yang membutuhkan energi yang cukup besar.

In [ ]:
cc = df[['air_temperature','dew_temperature']]

In [ ]:
#membandingkan grafik time series 'air_temperature' dengan 'dew_temperature'
temperature = cc.resample('D').sum()
print('temperature')
print(temperature.head(), '\n')


plotsize = (13, 5)

temperature.plot(figsize=plotsize, title='Air Temperature vs Dew Temperature')

**Interpretasi:** Dari grafik time series di atas, dapat dilihat bahwa air temperature dengan dew temperature berkorelasi positif.

In [ ]:
#Melihat korelasi antar variabel
df.corr()

In [ ]:
#Melihat korelasi antar variabel menggunakan Heat Map
corr = df.corr() 
plt.figure(figsize=(12, 10))
sns.heatmap(corr[(corr >= 0.5) | (corr <= -0.4)], 
            cmap='viridis', vmax=1.0, vmin=-1.0, linewidths=0.1,
            annot=True, annot_kws={"size": 14}, square=True);

**Interpretasi:** dari matriks korelasi di atas, terlihat bahwa air_temperature dengan dew_temperature memiliki nilai korelasi yang signifikan, yaitu 0.75.